@import '../../../../variables';

%btn {
    color: $tp-light-gray;
    height: 40px;
    cursor: pointer;
}

.admin-tools-container {
    margin-bottom: $tp-gap-regular;
}

.category-name {
    text-transform: capitalize;
    margin: $tp-gap-small 0;
    cursor: pointer;
}

.input {
    margin-bottom: $tp-gap-xsmall;
    border: 2px solid $tp-gray;
}

.plus {
    @extend %btn;
    background-color: $tp-primary;
}

.minus {
    @extend %btn;
    background-color: $tp-error;
}