@import '../../../../variables';

%btn {
    color: $tp-light-gray;
    height: 40px;
    cursor: pointer;
}

.admin-tools-container {
    margin-bottom: $tp-gap-regular;
}

.category-name {
    text-transform: capitalize;
    margin: $tp-gap-small 0;
    cursor: pointer;
}

.input-group {
    margin-bottom: $tp-gap-xsmall;
}

.plus {
    @extend %btn;
    background-color: $tp-primary;
}

.minus {
    @extend %btn;
    background-color: $tp-error;
}

.category-input-container {
    max-height: 400px;
    overflow: auto;
    margin-bottom: $tp-gap-regular;
}