<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <img id="tst-main-logo" class="mx-auto d-block main-logo" src="/assets/tpanda.png" alt="tienda panda" />
      </div>
    </div>
  </div>
  <nav class="navbar">
    <div class="container">
      <ul class="row">
        <li *ngFor="let route of routes"
            class="navbar__item col"
            [routerLink]="route.link"
            routerLinkActive="navbar__item_active">
          {{ route.name }}
        </li>
      </ul>
    </div>
  </nav>
</header>
<input id="tst-input" />