<div class="container">
  <div *ngIf="article" class="row align-items-center article">
    
    <div class="col-6">
      <ngb-carousel>
        <ng-template *ngFor="let slide of article.pictures" ngbSlide>
          <img class="mx-auto d-block slide" [src]="slide.url" [alt]="article.title">
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="col-6">
      <p class="article__condition">{{ article.condition === 'new' ? 'Nuevo' : '' }}</p>
      <h1 class="article__main-title">{{ article.title }}</h1>
      <h4 class="article__price">{{ article.price | currency: 'USD': true: '1.0' }}</h4>
      <a class="col-6 rounded btn tp-btn tp-btn_big" [href]="article.permalink" target="_blank">
        ver en Mercado Libre
      </a>
    </div>

  </div>
</div>