@import '../../../variables';

$ornament-size: 30px;

.title {
    background-color: $tp-light-gray;
    margin: $tp-gap-small 0;
    padding: $tp-gap-xsmall 0;
    font-size: $tp-font-size-xbig;
    border-left: $tp-primary $ornament-size solid;
   
    &__content {
        display: block;
        color: $tp-primary-dark;
        font-style: italic;
        padding-left: $tp-gap-small;
    }

}

