<article class="article">
  <a [routerLink]="['/sports/detalle', props.id]">
    <img class="mx-auto d-block article__image" 
        [src]="props.pictures[0]?.url || props.thumbnail"
        [alt]="props.title" />
    <h3 class="text-center article__title">{{ props.title }}</h3>
    <div class="d-flex">
      <h4 class="col-6 rounded article__price">{{ props.price | currency: 'USD': 'symbol-narrow': '1.0' }}</h4>
      <button class="col-6 rounded btn tp-btn">ver más</button>
    </div>
  </a>
</article>
