$tp-white: #fff;
$tp-gray: #ccc;
$tp-light-gray: #f1f1f1;
$tp-black: #222;

$tp-primary: #075056;
$tp-primary-dark: #003145;
$tp-primary-light: #1c5772;

$tp-font-size-small: 13px;
$tp-font-size-regular: 15px;
$tp-font-size-big: 17px;
$tp-font-size-xbig: 20px;
$tp-font-size-xxbig: 25px;
$tp-font-size-xxxbig: 30px;
$tp-font-size-superbig: 40px;

$tp-gap-xsmall: 5px;
$tp-gap-small: 10px;
$tp-gap-regular: 20px;
$tp-gap-big: 30px;
$tp-gap-xbig: 40px;