<ngb-carousel>
  <ng-template *ngFor="let slide of slides" ngbSlide>
    <img [routerLink]="['/productos/detalle', getIDFromSlide(slide)]" class="mx-auto d-block slide" [src]="slide" [alt]="slide">
  </ng-template>
</ngb-carousel>
<div class="container min-layout-height">


  <tp-title>
    <span class="small-caps">Productos/Colchon y Sommier Pocket</span>
  </tp-title>
  <tp-order-by-select (orderCriteria)="orderBy($event)"></tp-order-by-select>

  <div *ngIf="!products.length" class="row align-items-center min-layout-height">
    <tp-loading></tp-loading>
  </div>

  <ul class="row">
    <li class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of products">
      <tp-article [props]="product"></tp-article>
    </li>
  </ul>

  <tp-title>El envio de COLCHONES Y SOMMIERS ES SIN CARGO en Capital Federal y Gran Buenos Aires.</tp-title>

</div>